<?xml version="1.0" encoding="utf-8"?><manifest xmlns:android="http://schemas.android.com/apk/res/android">

<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.RECORD_AUDIO" />
<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
<uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
<uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

<queries>
  <intent>
    <action android:name="android.intent.action.TTS_SERVICE" />
  </intent>
</queries>

<application
  android:name=".MainApplication"
  android:allowBackup="false"
  android:icon="@mipmap/ic_launcher"
  android:label="@string/app_name"
  android:usesCleartextTraffic="true"
  android:roundIcon="@mipmap/ic_launcher_round"
  android:theme="@style/AppTheme">



  <activity
    android:name=".ShellActivity"
    android:exported="false" />

  <activity
    android:name=".FullscreenActivity"
    android:configChanges="orientation|keyboardHidden|screenSize"
    android:exported="true"
    android:label="phi3"
    android:launchMode="singleTask"
    android:theme="@style/AppTheme.Fullscreen">
    <intent-filter>
      <action android:name="android.intent.action.MAIN" />
      <category android:name="android.intent.category.LAUNCHER" />
    </intent-filter>
  </activity>

  <activity
    android:name="com.rnllamaexample.DummyActivity"
    android:configChanges="orientation|keyboardHidden|screenSize"
    android:exported="true"
    android:label="zephyr"
    android:launchMode="singleTask"
    android:theme="@style/AppTheme.Fullscreen">
    <intent-filter>
      <action android:name="android.intent.action.MAIN" />
      <category android:name="android.intent.category.LAUNCHER" />
    </intent-filter>
  </activity>




  <activity
    android:name=".MainActivity"
    android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
    android:exported="false"
    android:label="HIDE"
    android:windowSoftInputMode="adjustResize">
  </activity>


  <activity
    android:name="com.rnllamaexample.Llama3Activity"
    android:configChanges="orientation|keyboardHidden|screenSize"
    android:exported="true"
    android:label="Llama3"
    android:launchMode="singleTask"
    android:theme="@style/AppTheme.Fullscreen">
    <intent-filter>
      <action android:name="android.intent.action.MAIN" />
      <category android:name="android.intent.category.LAUNCHER" />
    </intent-filter>
  </activity>

  <activity
    android:name=".VoskActivity"
    android:label="EdgeTranslation"
    android:launchMode="singleTask"
    android:exported="true" >
    <intent-filter>
      <action android:name="android.intent.action.MAIN" />

      <category android:name="android.intent.category.LAUNCHER" />
    </intent-filter>
  </activity>

</application>

</manifest>
